

Body {
    background-color: AntiqueWhite;
}
header{
    background-color: darkseagreen;
    padding: 10px;
}
nav {
    font-size: 40px;
    background-color: darkseagreen;
    text-align: center;
}

h1 {
    font-size: 55px;
    text-align: center;
}

h2 {
   font-size: 35px;
    
}

img {
 float: right;
    height: 400px;
    width: 500px;
   border-radius: 50px;
    
}

h3 {
    font-size: 35px;
    text-align: center;
    }

img {
 float: right;
    height: 400px;
    width: 500px;
   border-radius: 50px;
}

h3 {
    font-size: 35px;
    text-align: center;
    }

img{

}


/* Pseudo codes*/

a:visited {
    background-color:darkseagreen;
    color: LightYellow;
}
 
a:hover {
    background-color: lightgreen;
   
}

a:link {
    background-color: darkseagreen;
    text-decoration: none;
  color: lightyellow;
}

a:active {
    background-color: darkseagreen;
}

/* Classes */

.Map {
    
   width: 50%;
}
.Pic1 {
    font-size: 20px;
    
}
.flex-container {
    display: flex;
  flex-direction: column;
text-align: center;
    font-size: 25px;
    border: solid 10px darkseagreen;
}

.members {
text-decoration: underline;
    font-size: 60px;
    border: solid 10px darkseagreen;
    
}

